# Jekyll
.jekyll-cache/
.sass-cache/
.jekyll-metadata
_site/

# Ruby
.bundle/
vendor/

# Vim
.swp

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# MacOSX
.DS_Store
